@page
@model extVehicleTrackingApp.Pages.Vehicle.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ExtVehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExtVehicle.Id" />
            <div class="form-group">
                <label asp-for="ExtVehicle.Model" class="control-label"></label>
                <input asp-for="ExtVehicle.Model" class="form-control" />
                <span asp-validation-for="ExtVehicle.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtVehicle.Vin" class="control-label"></label>
                <input asp-for="ExtVehicle.Vin" class="form-control" />
                <span asp-validation-for="ExtVehicle.Vin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtVehicle.Plate" class="control-label"></label>
                <input asp-for="ExtVehicle.Plate" class="form-control" />
                <span asp-validation-for="ExtVehicle.Plate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtVehicle.OrgId" class="control-label"></label>
                <select asp-for="ExtVehicle.OrgId" class="form-control" asp-items="ViewBag.OrgId"></select>
                <span asp-validation-for="ExtVehicle.OrgId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtVehicle.Year" class="control-label"></label>
                <input asp-for="ExtVehicle.Year" class="form-control" />
                <span asp-validation-for="ExtVehicle.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtVehicle.Inspection" class="control-label"></label>
                <input asp-for="ExtVehicle.Inspection" class="form-control" />
                <span asp-validation-for="ExtVehicle.Inspection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtVehicle.Surplus" class="control-label"></label>
                <input asp-for="ExtVehicle.Surplus" class="form-control" />
                <span asp-validation-for="ExtVehicle.Surplus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtVehicle.Email" class="control-label"></label>
                <input asp-for="ExtVehicle.Email" class="form-control" />
                <span asp-validation-for="ExtVehicle.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtVehicle.Filepath" class="control-label"></label>
                <input asp-for="ExtVehicle.Filepath" class="form-control" />
                <span asp-validation-for="ExtVehicle.Filepath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
